<a href="https://colab.research.google.com/github/CathieLC/Wild_notebook_2021-2022/blob/main/Les_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

Now, access the second-to-last item in the second list.

In [1]:
tuple1 = (12, 15, 4,                                                      #1
          "garçon", "fille", "enfant",                                    #2
          ["chat", "chien", "poisson"],                                   #3
          ["étudiant", "professionnel", "stagiaire"],                     #4
          {"python": 10, "scala": 20, "Numpy": 5},                        #5
          {"bananes" : 5000, "pommes" : 4800, "poires" : 412809})         #6


print(tuple1[7][-2])

professionnel

# Mission 2

In the same tuple, access the last 4 elements using slicing

In [2]:
tuple1 = (12, 15, 4,                                                      #1
          "garçon", "fille", "enfant",                                    #2
          ["chat", "chien", "poisson"],                                   #3
          ["étudiant", "professionnel", "stagiaire"],                     #4
          {"python": 10, "scala": 20, "Numpy": 5},                        #5
          {"bananes" : 5000, "pommes" : 4800, "poires" : 412809})         #6


print(tuple1[-4:])

(['chat', 'chien', 'poisson'], ['étudiant', 'professionnel', 'stagiaire'], {'python': 10, 'scala': 20, 'Numpy': 5}, {'bananes': 5000, 'pommes': 4800, 'poires': 412809})

# Mission 3

Change the value of the 4th element (the 1st string) of your tuple (oh yes it's possible!)

In [3]:
tuple1 = (12, 15, 4,                                                      #1
          "garçon", "fille", "enfant",                                    #2
          ["chat", "chien", "poisson"],                                   #3
          ["étudiant", "professionnel", "stagiaire"],                     #4
          {"python": 10, "scala": 20, "Numpy": 5},                        #5
          {"bananes" : 5000, "pommes" : 4800, "poires" : 412809})         #6

#the 1st string = "garçon"

In [4]:
tuple_to_list = list(tuple1)                    #transformer le tuple en liste

tuple_to_list[3] ='boys'                        #modification de l'élément 4

list_to_tuple = tuple(tuple_to_list)            #transformation de la liste en tuple

print(list_to_tuple)                            #affichage du tuple

(12, 15, 4, 'boys', 'fille', 'enfant', ['chat', 'chien', 'poisson'], ['étudiant', 'professionnel', 'stagiaire'], {'python': 10, 'scala': 20, 'Numpy': 5}, {'bananes': 5000, 'pommes': 4800, 'poires': 412809})

# Mission 4

Create 2 tuples that contain only integers.
Create a script that compares them to each other and indicates which one of the tuples returns the highest total value after adding all their values together.

In [5]:
tuple1 = (1,2)
tuple2 = (10,12)

print("somme tuple 1 :", sum(tuple1))
print("somme tuple 2 :",sum(tuple2))



if sum(tuple1) > sum(tuple2):
  print("c'est le tuple 1 qui renvoi la valeur la plus élevée")
else:
  print("c'est le tuple 2 qui renvoi la valeur la plus élevée")

somme tuple 1 : 3
somme tuple 2 : 22
c'est le tuple 2 qui renvoi la valeur la plus élevée

# Mission 5

Here's a tuple:

my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

Create a script that allows you to change one of the values of "my_tuple" by indicating the position of the value you want to change, as well as the new value.

In [6]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

my_tuple_to_list = list(my_tuple)
value_index = int(input("Entrez un entier entre 0 et 3 :"))


if value_index not in range(0,4) :
    print("Erreur, Vous n'avez pas entré une valeur comprise entre 0 et 3.")
else :
    my_tuple_to_list[value_index] = input("Entrez la chaîne de caractère que vous souhaitez insérez dans le tuple :")
    new_tuple = tuple(my_tuple_to_list)
    print(new_tuple)
    print(type(new_tuple) )              #contrôle

Entrez un entier entre 0 et 3 :3
Entrez la chaîne de caractère que vous souhaitez insérez dans le tuple :caractère
('data analyst', 'data scientist', 'data engineer', 'caractère')
<class 'tuple'>