In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

Critères de validation : <br/>
Le notebook est consultable pour toute personne disposant du lien fourni par l'élève.<br/>
CountVectorizer est utilisée pour le preprocessing<br/>
La classification de tweets est faite grâce à un algorithme de régression logistique.<br/>
La performance de l'algorithme de régression logistique est mesurée.<br/>
Toutes les étapes sont réalisées.

<h4> 1 - Importe cet ensemble de données de tweets dans un DataFrame.

In [3]:
link = "https://github.com/murpi/wilddata/raw/master/quests/tweets.zip"

df= pd.read_csv(link)

In [4]:
df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [5]:
df.shape

(27481, 4)

<h4> 2 - Ne garde que les tweets positifs et négatifs (tu excluras donc les neutral). <br />
 Quel est le pourcentage de tweets positifs/négatifs ?

In [6]:
#count values in df|'sentiment']
df['sentiment'].value_counts()

neutral     11118
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [7]:
# drop neutral snetiment in df

df.drop(df[df['sentiment']== 'neutral'].index, inplace = True)
df.reset_index(inplace = True, drop = True)
df

,textID,text,selected_text,sentiment
0,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
1,088c60f138,my boss is bullying me...,bullying me,negative
2,9642c003ef,what interview! leave me alone,leave me alone,negative
3,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
4,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,positive
...,...,...,...,...
16358,b78ec00df5,enjoy ur night,enjoy,positive
16359,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
16360,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
16361,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
16362,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive

In [8]:
# calcul percent tweet negative and positive

percent = df['sentiment'].value_counts("positive")*100
percent

positive    52.447595
negative    47.552405
Name: sentiment, dtype: float64

In [9]:
print(f"The percent of positive sentiment is {round(percent[0],2)} %")
print(f"The percent of negative sentiment is {round(percent[1],2)} %")

The percent of positive sentiment is 52.45 %
The percent of negative sentiment is 47.55 %

<h4> 3 - Copie la colonne text dans une Série X, et la colonne sentiment dans une Série y. <br />
Applique un train test split avec le random_state = 32.

In [10]:
X = df['text']
y = df['sentiment']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=32, train_size = 0.75)
print("The length of the initial dataset is :", len(X))
print("The length of the train dataset is   :", len(X_train))
print("The length of the test dataset is    :", len(X_test))

The length of the initial dataset is : 16363
The length of the train dataset is   : 12272
The length of the test dataset is    : 4091

<h4> 4 - Crée un modèle vectorizer avec scikit-learn en utilisant la méthode TfidfVectorizer.<br />
Entraîne ton modèle sur X_train, puis crée une matrice de features X_train_CV.<br />
Crée la matrice X_test_CV sans ré-entraîner le modèle.<br />
Le format de la matrice X_test_CV doit être 4091x15806 avec 44633 stored elements.

In [12]:
vectorizer = TfidfVectorizer()
vectorizer.fit(X_train)

TfidfVectorizer()

In [13]:
X_train_CV = vectorizer.transform(X_train)
X_train_CV

<12272x15806 sparse matrix of type '<class 'numpy.float64'>'
	with 144578 stored elements in Compressed Sparse Row format>

In [14]:
X_test_CV = vectorizer.transform(X_test)
X_test_CV

<4091x15806 sparse matrix of type '<class 'numpy.float64'>'
	with 44633 stored elements in Compressed Sparse Row format>

<h4> 5 - Entraîne maintenant une régression logistique avec les paramètres par défaut.<br />
Tu devrais obtenir les résultats suivants : 0.966 pour le test d'entraînement, et 0.877 pour l'ensemble de test.

In [15]:
newmodel = LogisticRegression(max_iter=150).fit(X_train_CV, y_train)

#Print the accuracy score on the train set and on the test set
print(f"The accuracy score for training set: {round(newmodel.score(X_train_CV, y_train),3)}")
print(f"The accuracy score  for test set: {round(newmodel.score(X_test_CV, y_test),3)}")

The accuracy score for training set: 0.932
The accuracy score  for test set: 0.873