<a href="https://colab.research.google.com/github/CathieLC/Wild_notebook_2021-2022/blob/main/Part_1_Functions_Helping_Statisticians.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Help for statisticians!

Your fellow statisticians need you. They want to learn how to program in Python and have tons of calculations to do.

Very kindly, you agree to help them. Complete the missions below.

![Einstien le génie](https://wallup.net/wp-content/uploads/2018/09/30/201016-funny-albert-einstein-748x468.jpg)

In [1]:
# Mission 1: Create a function that displays the message "Hello Python".

In [15]:
def paroles () :
    return "Hello Python"

paroles()

'Hello Python'

In [3]:
# Mission 2: Create a function that takes in 2 numbers as parameters, and indicates whether or not they are equal.

In [16]:
def equal_numbers (number1, number2) :
  if (number1 == number2) == True:
    return f"The number1 : {number1} is équal to {number2}"
  else :
    return f"The number1 : {number1} is not équal to {number2}"

equal_numbers(1,3)

'The number1 : 1 is not équal to 3'

In [5]:
# Mission 3: Create a function that uses a while or for loop to display the 
# first 10 multiples of the given number.
# For example if your input is 2 it will look like this: 
# 2, 4, 6, 8, 10, 12, 14, 16, 18, 20

In [20]:
def multiples(number) :

    for multiplicateur in range (1,11) :
        resultat = number * multiplicateur
        multiplicateur += 1
        print(resultat, end=" ")

multiples(2)

2 4 6 8 10 12 14 16 18 20

In [7]:
# Mission 4: Create a while loop that displays the vowels of the longest word in English one after the other (i.e. horizontally, not one above 
# the other, i.e. vertically). The longest word in English is: "antidisestablishmentarianism"

In [8]:
def display_vowels(texte) :
    count = 0
    list_vowels = ["a", "e", "i", "o", "u", "y"]
    letter = ""

    while count < len(texte) :
        if texte[count] in list_vowels :
            letter += texte[count] + " "
        count += 1

    return letter

words = "antidisestablishmentarianism"

display_vowels(words)

'a i i e a i e a i a i '

In [9]:
# Mission 5: Create a function that takes 2 numbers as parameters, and returns the result of a division operation. 
# Test if the denominator is equal to 0 and if so, display a message that says: "You can't divide by zero".

In [21]:
def division(number1,number2) :
    if number1 == 0 or number2 == 0 :
        return "You can't divide by zero"        
    else :
        return number1/number2

division(2,5)

0.4

In [11]:
# Mission 6: Create a function that takes in 3 numbers as parameters,
# and carries out two mathematical operations of your choice (such as +, -, *, or /),
# as in the examples below.
# Then return the result of the applied operations. You will have to take into account a situation where division by zero is attempted.
# Display a message that indicates whether the result is positive, negative or zero.

# Example operations: 
# 0*32+2 = 2 
# 21/0+3 > "Error, you're trying to divide by zero"

In [12]:
def operations(number1,number2, number3) :
    
    if number3 == 0 :
        return "Error, you're trying to divide by zero"

    else :
      resultat = number1+number2/number3
      
      if resultat == 0 :
          return f"the result {resultat} is zero" 
      elif resultat > 0:
          return f"the result {resultat} is positive"
      else :
          return f"the result {resultat} is negative"

operations(1,2,5)

'the result 1.4 is positive'

In [13]:
# Mission 7: Create a function that takes a number as a parameter that corresponds to gross salary and returns the net salary for executives.
# You can specify any amount of deductions, or base them on your country's example

In [23]:
def net_salary(gross_salary) :
  
  net_salary = gross_salary/1.23 
  return int(net_salary)

net_salary(1850)

1504