<a href="https://colab.research.google.com/github/CathieLC/Wild_notebook_2021-2022/blob/main/Shorthand_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Une fonction qui convertit des montants en dollars vers des montants en euros (prends le cours euro/dollar du jour où tu fais la quête).

In [ ]:
# Cours $=>€ au 29/10/2021 : 1$ = 0.86 €
cours_dollar_euros = 0.86

# my function without shorthand syntax

def convert(dollar_euros):
  return (dollar_euros * cours_dollar_euros)

convert(10)

8.6

In [ ]:
#my function in shorthand syntax
convert = lambda x: x*cours_dollar_euros
convert(10)

8.6

Une fonction qui renvoie la somme des **nombres pairs** présents dans une liste contenant des nombres entiers.

In [ ]:
# my function without shorthand syntax

liste_nombres = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
liste_nombres_pairs = []

for n in liste_nombres:
  if n % 2 == 0 :
    liste_nombres_pairs.append(n)

sum(liste_nombres_pairs)

48

In [ ]:
#my function in shorthand syntax

liste_nombres = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]

sum([i for i in liste_nombres if i%2==0])

48

Un script qui convertit une liste de nombres entiers positifs ou négatifs) en une nouvelle liste contenant les valeurs absolues.
Tu peux prendre la liste suivante pour exemple :

```
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
```

In [ ]:
# my function without shorthand syntax

test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
liste_convert = []

for n in test_list :
  if n < 0 :
    n2 = n*(-1)
    liste_convert.append(n2)
  else :
    liste_convert.append(n)

liste_convert

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
#my function in shorthand syntax

test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]

[(n if n>0 else n*-1) for n in test_list]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]