In [60]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [77]:
link = "https://raw.githubusercontent.com/WildCodeSchool/java-jsonparse/master/weather.json"

# This function gets the file content from the URL
r = requests.get(link)

# You can access to the text content with this function
r.text

data = json.loads( r.text)
data

{'coord': {'lon': -0.13, 'lat': 51.51},
 'weather': [{'id': 300,
   'main': 'Drizzle',
   'description': 'light intensity drizzle',
   'icon': '09d'},
  {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 280.32,
  'pressure': 1012,
  'humidity': 81,
  'temp_min': 279.15,
  'temp_max': 281.15},
 'visibility': 10000,
 'wind': {'speed': 4.1, 'deg': 80},
 'clouds': {'all': 90},
 'dt': 1485789600,
 'sys': {'type': 1,
  'id': 5091,
  'message': 0.0103,
  'country': 'GB',
  'sunrise': 1485762037,
  'sunset': 1485794875},
 'id': 2643743,
 'name': 'London',
 'cod': 200}

1 - Affiche la valeur de l'attribut name

In [27]:
name_attribut = data['name']
name_attribut

'London'

2 - # Affiche les valeurs des attributs lat et lon de l'élément coord contenu dans la racine

In [28]:
element_lon = data['coord']['lon']
element_lat = data['coord']['lat']
print(element_lon)
print(element_lat)

-0.13
51.51

3 - Parcours tous les éléments dans weather et affiche le contenu de main (peut-être avec une boucle ?)

In [29]:
element_main = []

for i in range(len(data['weather'])) :
    element_main.append(data['weather'][i]['main'])

element_main

['Drizzle', 'Clear']

4 - Essaye maintenant d'importer ton fichier json dans pandas :

In [78]:
# You can directly read JSON from your request object
print(r.json())

# And you can import JSON object to pandas
pd.json_normalize(r.json())

{'coord': {'lon': -0.13, 'lat': 51.51}, 'weather': [{'id': 300, 'main': 'Drizzle', 'description': 'light intensity drizzle', 'icon': '09d'}, {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 280.32, 'pressure': 1012, 'humidity': 81, 'temp_min': 279.15, 'temp_max': 281.15}, 'visibility': 10000, 'wind': {'speed': 4.1, 'deg': 80}, 'clouds': {'all': 90}, 'dt': 1485789600, 'sys': {'type': 1, 'id': 5091, 'message': 0.0103, 'country': 'GB', 'sunrise': 1485762037, 'sunset': 1485794875}, 'id': 2643743, 'name': 'London', 'cod': 200}

,weather,base,visibility,dt,id,name,cod,coord.lon,coord.lat,main.temp,...,main.temp_max,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.message,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 300, 'main': 'Drizzle', 'description':...",stations,10000,1485789600,2643743,London,200,-0.13,51.51,280.32,...,281.15,4.1,80,90,1,5091,0.0103,GB,1485762037,1485794875

Tu obtiens un DataFrame avec une seule ligne ? C'est normal, notre fichier JSON contient un premier niveau "weather". Nous allons indiquer à Pandas de descendre au niveau inférieur (ici dans l'enregistrement weather). Pour cela, nous utilisons le paramètre record_path. Nous pouvons aussi utiliser le paramètre meta pour indiquer de conserver des éléments d'un niveau supérieur:

In [79]:
pd.json_normalize(r.json(),  
                  record_path= "weather",
                  meta = 'dt')

    id     main              description icon          dt
0  300  Drizzle  light intensity drizzle  09d  1485789600
1  800    Clear                clear sky  01n  1485789600

5 - Filtre maintenant ton DataFrame avec Pandas pour afficher uniquement les colonnes suivantes : main (celui qui est à l'intérieur de weather), name, and visibility.

https://pandas.pydata.org/pandas-docs/version/1.1.3/reference/api/pandas.read_json.html
https://pandas.pydata.org/pandas-docs/version/1.1.3/reference/api/pandas.json_normalize.html

In [107]:
result = json_normalize(data, ['weather'], ['name', 'visibility'])
result = result[['main', 'name', 'visibility']]
result

C:\Users\cathe\AppData\Local\Temp/ipykernel_7948/4229208477.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  result = json_normalize(data, ['weather'], ['name', 'visibility'])

      main    name visibility
0  Drizzle  London      10000
1    Clear  London      10000