In [7]:
import pandas as pd

link = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv'
df = pd.read_csv(link)

In [15]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,Tim Robbins
1,9.3,The Shawshank Redemption,R,Crime,142,Morgan Freeman
2,9.3,The Shawshank Redemption,R,Crime,142,Bob Gunton
3,9.2,The Godfather,R,Crime,175,Marlon Brando
4,9.2,The Godfather,R,Crime,175,Al Pacino

In [9]:
# Apply eval function

df['actors_list'] = df['actors_list'].apply(eval)

In [10]:
# explode for one row with one value of actors_list column

df = df.explode('actors_list')

In [11]:
#reset index for df

df = df.reset_index(drop=True)

In [12]:
#check 
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,Tim Robbins
1,9.3,The Shawshank Redemption,R,Crime,142,Morgan Freeman
2,9.3,The Shawshank Redemption,R,Crime,142,Bob Gunton
3,9.2,The Godfather,R,Crime,175,Marlon Brando
4,9.2,The Godfather,R,Crime,175,Al Pacino
...,...,...,...,...,...,...
2932,7.4,Poltergeist,PG,Horror,114,Heather O'Rourke
2933,7.4,Poltergeist,PG,Horror,114,Craig T. Nelson
2934,7.4,Wall Street,R,Crime,126,Charlie Sheen
2935,7.4,Wall Street,R,Crime,126,Michael Douglas
2936,7.4,Wall Street,R,Crime,126,Tamara Tunie

In [13]:
# Which actor is mentionned most often ?
df['actors_list'].value_counts().idxmax()

'Robert De Niro'

In [14]:
f"The actor is mentioned the most often is {df['actors_list'].value_counts().idxmax()}"

'The actor is mentioned the most often is Robert De Niro'